<header class="postheader_whitelake__">
    <h1 class="posttitle_whitelake__" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
    <time class="postmetaentry_whitelake__" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='DD MMM YYYY'}}</time>,<span class="author postmetaentry_whitelake__"> by {{author}}</span>, <span class="postmetaentry_whitelake__">tagged: {{tags separator=", "}}</span>
</header>